<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}

    <!-- Import Google Icon Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Open+Sans&display=swap"
          rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Materialize Compiled and Minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">

    <!-- DJANGO APP CSS -->
    <link rel="stylesheet" href="{% static '[[-APP-NAME-]]/css/[[-APP-NAME-]].css' %}">

    <!-- META -->
    <meta charset="UTF-8">
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
          content="{% block page_meta_description %}ERROR - Meta Description{% endblock page_meta_description %}">

    <link rel="icon" type="image/x-icon" href="{% static '[[-APP-NAME-]]/img/favicon.ico' %}">

    <title>{% block title %}Django Full Stack{% endblock title %}</title>

</head>
<body>
<header>
    {% include '_partials/nav_menu.html' %}
    {% include '_partials/header.html' %}
</header>
<main>
    <div class="container">
        <div class="row">
            {% block content %}
                HTML TAG: BODY -- APPLICATION TEMPLATE ERROR
            {% endblock content %}
        </div>
    </div>
</main>
<footer class="page-footer">
    {% include '_partials/footer.html' %}
</footer>

<!-- Materialize JavaScript -->
<!-- Import jQuery before materialize.js -->
<script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>

<script>
    $( document ).ready(function () {
        $(".button-collapse").sideNav();
    })
</script>

<!--
    Materialize SideNav Tutorial
    - https://www.freetimelearning.com/materialize-css/materialize-css-sidenav.php
-->
</body>
</html>